{% set title = "회원가입" %}
{% extends '../layout/base.html'%}

{% block content%}
  <form action="" method="post">
    <label>
      아이디
      <input type="text" name="userid" required>
    </label>
    <label>
      이름
      <input type="text" name="username" required>
    </label>
    <label>
      패스워드
      <input class="password1" type="password" name="password" required>
    </label>
    <label>
      패스워드 확인
      <input class="password2" type="password" name="password2" required>
    </label>
    <button> 회원가입 </button>
  </form>
  <script>
    let password1 = document.querySelector('.password1');
    let password2 = document.querySelector('.password2');
    let btn = document.querySelector('button');

    document.addEventListener('submit',(e)=>{
      if(password1.value !== password2.value){
        e.preventDefault();
        alert('패스워드가 다릅니다');
      }
    })
  </script>
{% endblock %}