{% set title = "채팅" %}
{% extends '../layout/base.html'%}

{% block content%}
  <div>
    <a href="/login/success">메인으로</a>
  </div>
  <div>
    <div>대화내용</div>
    <div>
        <ul class="chat">
          
        </ul>
    </div>
  </div>
  <div style="float: right;">
    <ul class="userList">

    </ul>
  </div>
  <form action="" method="post">
    <div>
        <input type="hidden" name="socketId">
        <input type="text" name="message" placeholder="대화내용을 입력해주세요.">
        <span>
            <button>작성하기</button>
        </span>
    </div>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io();

    document.querySelector('form').addEventListener('submit',(e)=>{
      e.preventDefault();
      let message = document.querySelector('input[name="message"]');
      socket.emit('user message',{ message : message.value });
      message.value = "";
    })

    socket.on('server message', (data)=>{
      let li = document.createElement('li');
      li.innerHTML = `<strong>${data.userid}${data.username}</strong> : ${data.message}`;
      document.querySelector('.chat').append(li);
    })

    function updateUserList(userList){
      document.querySelector('.userList').innerHTML = "";

      userList.forEach((user)=>{
        let li = document.createElement('li');
        li.innerHTML = user;
        document.querySelector('.userList').append(li);
      })
    }

    socket.on('join', (data)=>{
      updateUserList(data);
    })

    socket.on('leave', (data)=>{
      updateUserList(data);
    })
    
  </script>
{% endblock %}