{% set title = "로그인" %}
{% extends '../layout/base.html'%}

{% block content%}
  {% if flashMessage %}
    <div>{{ flashMessage }}</div>
  {% endif %}
  <form action="" method="post">
    <label>
      아이디
      <input id="username" type="text" name="userid" required>
    </label>
    <label>
      패스워드
      <input type="password" name="password" required>
    </label>
    <button> 로그인 </button>
    <div>
      <a href="/auth/facebook">페이스북 로그인</a>
    </div>
    <div>
      <a href="/auth/kakao">카카오톡 로그인</a>
    </div>
    <div>
      <a href="/join">회원가입</a>
    </div>
  </form>
{% endblock %}