<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    *{
      padding : 0px;
      margin : 0px;
    }
    nav{
      background-color: gray;
      text-align: center;
      width : 100vw;
      height : 40px;
      line-height : 40px;
      vertical-align: middle;
    }
  </style>
</head>
<body>
  <nav>
    <div>MakingLogin</div>
  </nav>
  {% block content%}
  {% endblock %}
</body>
</html>